absl-py
aiohttp
aioice
aiortc
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-timeout
attrs
av
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
deepface
defusedxml
dnspython
entrypoints
executing
fastjsonschema
filelock
fire
Flask
flatbuffers
fonttools
fqdn
frozenlist
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-crc32c
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mtcnn
multidict
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook_shim
numpy
oauthlib
openai
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psrecord
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
pyee
Pygments
pylibsrtp
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-decouple
python-json-logger
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
requests-oauthlib
retina-face
rfc3339-validator
rfc3986-validator
rich
rsa
semver
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-chat
streamlit-webrtc
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-cpu
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
yarl
zipp
